/* a.css */
body a{
    color:pink;
}

div{
	background:red;
}

.demo {
    display:flex;
}

.container{
	background:black;
	width:100px;
	height:100px;
	
}

.a{
	width:300px;
	height:100px;
	float:left;
	filter:alpha(opacity:30);
	opacity:0.3;
	background:blue;
	border-radius:1px solid red;
}